<div class="container-fluid mb-4 px-2 pb-2">
    <div class="row">
        <div class="col-md-7">
            <div class="card px-2 mx-4 row">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                    </div>
                    <form [formGroup]="contactMeForm" #formDirective="ngForm" id="contactForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="from_name" class="form-label">Nume:</label>

                            <input class="form-control" formControlName="from_name" name="from_name" type="text"
                                placeholder="Numele tău"
                                [ngClass]="{ 'is-invalid': submitted && f.from_name.errors }" />
                            <div *ngIf="submitted && f.from_name.errors" class="invalid-feedback">
                                <div *ngIf="f['from_name'].errors['required']">Numele este necesar.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="from_email" class="form-label">Adresă de
                                E-mail:</label>
                            <input class="form-control" formControlName="from_email" name="from_email" type="email"
                                placeholder="Adresa ta de E-mail"
                                [ngClass]="{ 'is-invalid': submitted && f.from_email.errors }" />
                            <div *ngIf="submitted && f.from_email.errors" class="invalid-feedback">
                                <div *ngIf="f['from_email'].errors['required']">E-mail-ul este necesar.</div>
                                <div *ngIf="f['from_email'].errors['email']">Un E-mail valid este necesar.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="from_tel" class="form-label">Număr de
                                telefon:</label>
                            <input class="form-control" formControlName="from_tel" name="from_email" type="tel"
                                placeholder="Numărul tău de telefon"
                                [ngClass]="{ 'is-invalid': submitted && f.from_tel.errors }" />
                            <div *ngIf="submitted && f.from_tel.errors" class="invalid-feedback">
                                <div *ngIf="f['from_tel'].errors['required']">Numărul de telefon este necesar.
                                </div>
                                <div *ngIf="f['from_tel'].errors['pattern']">Un număr de telefon mobil valid
                                    este
                                    necesar.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="from_message" class="form-label">Mesaj:</label>
                            <textarea class="form-control" formControlName="from_message" name="from_email" type="text"
                                placeholder="Mesajul tău"
                                [ngClass]="{ 'is-invalid': submitted && f.from_message.errors }"
                                style="height: 10rem"></textarea>
                            <div *ngIf="submitted && f.from_message.errors" class="invalid-feedback">
                                <div *ngIf="f['from_message'].errors['required']">Un mesaj este necesar.</div>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-secondary" type="submit">Trimite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card my-2 px-2 mx-4 row">
                <div class="card-body">
                    <h5 class="card-title card-contact-text mt-2 mb-4">Detalii contact:</h5>
                    <div class="mb-2">
                        <i class="bi bi-telephone contactIconsCard me-2"></i><span
                            class="card-subtitle mb-2 card-contact-text">Telefon:</span>
                    </div>
                    <p class="card-text card-contact-text mb-4"><a href="tel:+40742256541">+40742256541</a></p>

                    <div class="mb-2">
                        <i class="bi bi-envelope contactIconsCard me-2"></i><span
                            class="card-subtitle mb-2 card-contact-text">E-mail:</span>
                    </div>
                    <p class="card-text card-contact-text mb-4"><a
                            href="mailto:imaloeducation@gmail.com">imaloeducation&#64;gmail.com</a></p>

                    <div class="mb-2">
                        <i class="bi bi-facebook contactIconsCard me-2"></i><span
                            class="card-subtitle mb-2 card-contact-text">Facebook:</span>
                    </div>
                    <p class="card-text card-contact-text mb-4"><a href="https://www.facebook.com/imaloeducation/"
                            class="height-100" target="_blank" rel="nofollow"
                            aria-label="Facebook">facebook.com/imaloeducation</a></p>

                    <div class="mb-2">
                        <i class="bi bi-instagram contactIconsCard me-2"></i><span
                            class="card-subtitle mb-2 card-contact-text">Instagram:</span>
                    </div>
                    <p class="card-text card-contact-text mb-4"><a href="https://www.instagram.com/imaloeducation/"
                            class="height-100" target="_blank" rel="nofollow"
                            aria-label="Instagram">instagram.com/imaloeducation</a></p>

                    <div class="mb-2">
                        <i class="bi bi-linkedin contactIconsCard me-2"></i><span
                            class="card-subtitle mb-2 card-contact-text">LinkedIn:</span>
                    </div>
                    <p class="card-text card-contact-text mb-4"><a
                            href="https://www.linkedin.com/company/imalo-education/about/" class="height-100"
                            target="_blank" rel="nofollow" aria-label="LinkedIn">linkedin.com/imalo-education</a></p>
                </div>
                <div>
                    <div class="container d-flex justify-content-center align-items-center p-4">
                        <div class="loader1 my-2 p-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row width-100 d-flex justify-content-center align-items-center my-2 generic-row-padding">
        <div class="container-fluid d-flex justify-content-center align-items-center my-2">
            <div class="subtitle-1">
                Unde ne găsiți?
            </div>

        </div>
    </div>

    <div class=" row width-100 d-flex justify-content-center align-items-center my-2 diagonal-2 generic-row-padding">
        <div class="col my-2">
            <div class="card my-2">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2780.8950607378274!2d24.147966499999995!3d45.81335999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x474c67c61d428fe7%3A0x16659ae345f874a9!2sStrada%20Gutuilor%206%2C%20Sibiu!5e0!3m2!1sro!2sro!4v1697390170478!5m2!1sro!2sro"
                    id="googleMapsIframe" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    class="card-img-top">
                </iframe>
                <div class="card-lower-text py-4 px-2">
                    <p class="cyan-dark-text-with-shadow text-center">Ne
                        găsiți în Sibiu, strada
                        Gutuilor nr. 6</p>
                </div>
            </div>
        </div>
    </div>
</div>