<h1>PRODUCTS-NG-COMPONENT</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <span class="d-flex">
                <span class="form-group m-2">
                    <input type="text" class="form-control" (keyup)="search($event)" placeholder="search products">
                </span>
                <span class="search-icon m-2">
                    <i class="bi bi-search"></i>
                </span>
            </span>
        </div>
        <div class="col-sm">
            <button routerLink="../cart" class="btn btn-primary m-2 ms-auto">
                <i class="bi bi-cart"></i>
                <div class="badge bg-danger">{{totalItem}}</div>
            </button>
        </div>
    </div>
</div>

<app-products-list></app-products-list>