<div class="container mb-4">
    <div class="card">
        <div class="row justify-content-center align-items-center m-2">
            Găsește și comandă produse:
        </div>
        <div class="row justify-content-center align-items-center m-2">
            <div class="col-sm my-2">
                <div class="form-group">
                    <input type="text" class="form-control" (keyup)="search($event)" placeholder="caută produse">
                </div>
            </div>
            <div class="col-sm my-2">
                <button routerLink="../cart" class="btn btn-primary cart-button">
                    <i class="bi bi-cart m-2"></i>
                    <div class="badge bg-danger m-2">{{totalItem}}</div>
                </button>

            </div>
        </div>
    </div>
</div>

<app-products-list></app-products-list>