.form-group {
    width: 100%;
}

.form-control {
    width: 100%;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 59%;
    color: var(--red);
}

.cart-button {
    width: 100%;
}