<div class="container mb-4">
    <div class="card">
        <div class="row justify-content-center align-items-center m-2">
            Găsește și comandă produse:
        </div>
        <div class="row justify-content-center align-items-center m-2">
            <div class="col-sm my-2">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="searchKey" (keyup)="search($event)"
                        placeholder="caută produse">
                </div>
            </div>
            <div class="col-sm my-2">
                <button routerLink="../cart" class="btn btn-primary cart-button">
                    <i class="bi bi-cart m-2"></i>
                    <div class="badge bg-danger m-2">{{totalItem}}</div>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card py-2">
        <div class="container d-flex flex-wrap justify-content-around">
            <ng-container *ngFor="let item of filteredProductList">
                <div class="card product-card hover-card">
                    <img src="{{item.image}}" class="card-img-top" alt="sample-product">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">
                            {{item.description}}
                        </p>
                        <p>
                            <strong>Preț:</strong> {{item.price}} RON
                        </p>
                        <button class="btn btn-primary" (click)=addtocart(item)>Adaugă la comandă</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="filteredProductList?.length == 0">
                <div class="container text-center my-4 py-4">
                    Nu există produse disponibile conform filtrului aplicat. <br>
                    Încearcă să cauți altceva. <br>
                </div>
            </ng-container>
        </div>
    </div>
</div>