.empty-cart-card {
    margin: 1rem;
    padding: 1rem;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    width: 250px;
    margin: 1rem 0px;
}

h4,
h6 {
    font-weight: 400;
}

.table {
    border: 4px var(--red) solid;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    border-radius: 1.4rem;
    background-color: var(--white);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.cart-img {
    filter: brightness(0) invert(1);
}

.table-product-img {
    border-radius: 1.4rem;
    border: 2px var(--red) solid;
}

@media (min-width: 576px) {
    .table-product-img {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .table-product-img {
        width: 100%;
    }
}