<ng-container *ngIf="products.length != 0">
    <div class="container" style="overflow-x:auto;">

        <div class="row">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nr.</th>
                        <th>Denumire</th>
                        <th>Imagine</th>
                        <th>Preț</th>
                        <th>Șterge</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let product of products; let i = index">
                        <td style="width: 10px;">{{i+1}}</td>
                        <td>{{product.title}}</td>
                        <td><img src="{{product.image}}" alt="product" class="table-product-img"></td>
                        <td>{{product.price}}</td>
                        <td>
                            <button (click)="removeItem(product)" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr style="width: 100%;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total: {{grandTotal}} RON</strong></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card p-2">
            <div class="row p-2">
                <div class="col text-center">
                    <button routerLink="/products" class="btn btn-primary cart-button p-2">Cumpără mai multe
                        produse</button>
                </div>
                <div class="col text-center">
                    <button class="btn btn-success cart-button p-2">Plasează comanda</button>
                </div>
                <div class="col text-center">
                    <button (click)="emptycart()" class="btn btn-primary cart-button p-2">Golește coșul</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card empty-cart-card">
            <h5 class="card-title">Comanda mea</h5>
        </div>
        <div class="center">
            <img src="../../../assets/images/empty_cart.svg" alt="">
            <h4>Comanda ta este golă</h4>
            <h6>Adaugă produse la comandă</h6>
            <button routerLink="/products" class="btn btn-primary">Caută produse</button>
        </div>
    </div>
</ng-container>