.notification {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0rem 0rem 2rem rgba(255, 255, 255, .8);
    z-index: 9999;
    color: var(--white);
    opacity: 1;
    transition: opacity 0.3s ease-in-out !important;
}

.notification.success {
    background-color: var(--violet);

}

.notification.error {
    background-color: var(--red);
    color: #a94442;
}

.notification.info {
    background-color: var(--violet);
    color: #31708f;
}