.notification {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0rem 0rem 4rem rgba(255, 255, 255, 0.9);
    z-index: 9999;
    color: var(--white);
}

@media only screen and (max-width: 576px) {
    .notification {
        bottom: 0rem;
        right: 0rem;
    }
}