<div class="container">
    <div class="card py-2">
        <div class="container d-flex flex-wrap justify-content-around">
            <ng-container *ngFor="let item of productList | filter:searchKey:'title'">
                <div class="card product-card hover-card">
                    <img src="{{item.image}}" class="card-img-top" alt="sample-product">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">
                            {{item.description}}
                        </p>
                        <p>
                            <strong>Preț:</strong> {{item.price}} RON
                        </p>
                        <button class="btn btn-primary" (click)=addtocart(item)>Adaugă la comandă</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="filteredProductList?.length == 0">
                <div class="container text-center my-4 py-4">
                    Nu există produse disponibile conform filtrului aplicat. <br>
                    Încearcă să cauți altceva. <br>
                </div>
            </ng-container>
        </div>
    </div>
</div>