:root {
    --red: #D9251C;
    --main-red-for-alpha: 217, 37, 28;
    --violet: #8A2BE2;
    --main-violet-for-alpha: 138, 43, 226;
    --white: #FFF;
    --bold-font: "Bold", sans-serif;
    --regular-font: Regular, sans-serif;
    --light-font: Light, sans-serif;
}

.btn-primary {
    background-color: var(--red) !important;
    border-color: white !important;
    color: var(--white) !important;
}

.btn-secondary {
    background-color: var(--violet) !important;
    border-color: white !important;
    color: var(--white) !important;
}

.selected-btn {
    box-shadow: 0.2rem 0.5rem 1rem rgba(255, 255, 255, .8);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow-x: clip;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    font-family: var(--light-font);
}

@font-face {
    font-family: 'Bold';
    src: url('./assets/fonts/DMSans_18pt-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Regular';
    src: url('./assets/fonts/DMSans_18pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Light';
    src: url('./assets/fonts/DMSans_18pt-Light.ttf') format('truetype');
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.card {
    border: none;
    border-radius: 1rem;
    color: white;
    background: linear-gradient(-45deg,
            rgba(var(--main-red-for-alpha), 0.9),
            rgba(var(--main-violet-for-alpha), 0.9),
            rgba(var(--main-red-for-alpha), 0.9));
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.no-italics {
    font-style: normal;
}

.text-color-red {
    color: var(--red);
}

.form-control {
    border: 1px solid var(--red);

}

.text-color-white {
    color: var(--white) !important;
}

.button-width-100prc {
    width: 100%;
}

.hover-logo {
    position: relative;
    transition: all .2s;
    transform-origin: 50% 50%;
}

.hover-item {
    position: relative;
    transition: all .2s;
    transform-origin: 50% 50%;
}

.hover-card {
    position: relative;
    transition: all .2s;
    transform-origin: 50% 50%;
}

.SAL-SOL {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 20rem;
    text-align: center;
    position: relative;
    transition: all .2s;
    transform-origin: 50% 50%;
    filter: drop-shadow(4px 4px var(--violet)) drop-shadow(4px 4px var(--red));
}

@media (pointer: fine) {
    .hover-item:hover {
        transform: scale(1.1);
    }

    .hover-card:hover {
        transform: scale(1.04);
    }

    .hover-logo:hover {
        transform: scale(1.1);
    }

    .btn-primary:hover {
        background-color: var(--white) !important;
        border-color: var(--red) !important;
        color: var(--red) !important;
    }

    .btn-primary:active {
        background-color: var(--red) !important;
        border-color: var(--white) !important;
        color: var(--white) !important;
    }

    .btn-secondary:hover {
        background-color: var(--white) !important;
        border-color: var(--violet) !important;
        color: var(--violet) !important;
    }

    .btn-secondary:active {
        background-color: var(--violet) !important;
        border-color: var(--white) !important;
        color: var(--white) !important;
    }

    .SAL-SOL:hover {
        transform: scale(1.04);
        filter: drop-shadow(6px 6px var(--violet)) drop-shadow(6px 6px var(--red));
    }
}

@media (hover: none),
(pointer: coarse) {
    .hover-item:active {
        transform: scale(1.1);
    }

    .hover-card:active {
        transform: scale(1.1);
    }

    .hover-logo:active {
        transform: scale(1.1);
    }

    .btn-primary:active {
        background-color: var(--white) !important;
        border-color: var(--red) !important;
        color: var(--red) !important;
    }

    .btn-secondary:active {
        background-color: var(--white) !important;
        border-color: var(--violet) !important;
        color: var(--red) !important;
    }

    .SAL-SOL:active {
        transform: scale(1.04);
    }
}