<div class="container p-4"></div>
<div class="container-fluid mb-4 px-2">
    <div class="card p-2 mx-4">
        <div class="row align-items-center p-2 m-2">
            <h2 class="p-4 text-center">
                Plasează comanda ta de ... produse în valoare totală de ... RON și te vom contacta noi:
            </h2>
            <form>
                <div class="mb-4">
                    <label for="name" class="form-label">Nume:</label>
                    <input type="text" class="form-control" id="name" placeholder="Numele tău" required>
                </div>
                <div class="mb-4">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Adresa ta de E-mail" required>
                    <div id="emailHelp" class="form-text text-muted text-color-white">Nu îți stocăm nicăieri adresa de
                        E-mail.
                    </div>
                </div>
                <div class="mb-4">
                    <label for="phone" class="form-label">Telefon:</label>
                    <input type="tel" class="form-control" id="phone" placeholder="Numărul tău de telefon" required>
                    <div class="form-text text-muted text-color-white">Nu îți stocăm nicăieri numărul de telefon.</div>
                </div>
                <div class="mb-1">
                    <label for="address" class="form-label">Adresă de livrare:</label>
                </div>
                <div class="mb-1">
                    <label for="address" class="form-label">Oraș/localitate din jurul Sibiului:</label>
                    <input type="text" class="form-control" id="addressTown" placeholder="Localitate livrare" required>
                </div>
                <div class="mb-1">
                    <label for="address" class="form-label">Stradă:</label>
                    <input type="text" class="form-control" id="addressStreet" placeholder="Strada adresei de livrare"
                        required>
                </div>
                <div class="mb-1">
                    <label for="address" class="form-label">Număr:</label>
                    <input type="text" class="form-control" id="addressNumber" placeholder="Numărul adresei de livrare"
                        required>
                </div>
                <div class="mb-4">
                    <label for="address" class="form-label">Cod poștal:</label>
                    <input type="text" class="form-control" id="addressZIP"
                        placeholder="Codul poștal al adresei de livrare" required>
                    <div class="form-text text-muted text-color-white">Nu îți stocăm nicăieri adresa.</div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm align-items-center text-center">
                        <button (click)="handleBackToCartClick($event)"
                            class="btn btn-primary button-width-100prc justify-content-center align-items-center text-center">Înapoi
                            la comanda
                            mea detaliată</button>
                    </div>
                    <div class="col-sm align-items-center text-center">
                        <button type="submit"
                            class="btn btn-secondary button-width-100prc justify-content-center align-items-center text-center">Plasează
                            comanda</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container m-4 p-4"></div>